In [ ]:
boole = True
boole = None
print(boole)

None

In [ ]:
print(type(boole))

<class 'NoneType'>

In [ ]:
li = ["apple",[1,2,3],1]
print(li)

['apple', [1, 2, 3], 1]

In [ ]:
see = {1,"Apple",1}
print(see)

{1, 'Apple'}

In [ ]:
tu = (1,2.0,"Apple")
print(tu)

(1, 2.0, 'Apple')

In [ ]:
my_dic = {1:"Apple",2:"Bananas"}

In [ ]:
my_dic.keys()

dict_keys([1, 2])

In [ ]:
my_dic.values()

dict_values(['Apple', 'Bananas'])

In [ ]:
my_dic.get(1)

'Apple'

In [ ]:
data = [1, 2, 3, 4]
squared_gen = (x**2 for x in data)

In [ ]:
type(squared_gen)

generator

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import csv

In [ ]:

data = [["Name", "Age"], ["Alice", 24], ["Bob", 27]]
with open("/content/drive/MyDrive/output.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

In [ ]:
import pandas as pd

# Read CSV
df = pd.read_csv("/content/drive/MyDrive/data.csv")


# Save to CSV
df.to_csv("updated_data.csv", index=False)

In [ ]:
import json

# Writing data to JSON
data = {"name": "Shristy", "age": 21,}
with open("/content/drive/MyDrive/data.json", "w") as file:
    json.dump(data, file)

# Reading data from JSON
with open("/content/drive/MyDrive/data.json", "r") as file:
    data = json.load(file)
    print(data)

df=

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
type(data)

dict

In [ ]:
import numpy as np
array_1d = np.array([1, 2, 3])
array_2d = np.array([[1, 2], [3, 4]])

In [ ]:
array = np.array([1, 2, 3, 4, 5, 6])
reshaped_array = array.reshape(2, 3)
print(reshaped_array.ndim)

2

In [ ]:
flattned_array = reshaped_array.flatten()
print(flattned_array.ndim)

1

In [ ]:
import pandas as pd

data = {'Name': ['Alice', 'Bob','Meg',np.nan], 'Age': [24, 27, np.nan,12]}
df = pd.DataFrame(data)

In [ ]:
df.isnull().sum()

Name    1
Age     1
dtype: int64

In [ ]:
df= df['Age'].fillna(0)

In [ ]:
print(df)

0    24.0
1    27.0
2     0.0
3    12.0
Name: Age, dtype: float64

### generators

In [1]:
generator = (num ** 2 for num in range(10))
print(generator)
for num in generator:
    print(num)

0
1
4
9
16
25
36
49
64
81

In [7]:
squares = (x**2 for x in range(0,10))

In [5]:
for i in squares:
  print(i)

0
1
4
9
16
25
36
49
64
81

In [8]:
print(next(squares))

0

In [9]:
print(next(squares))

1